#double-tap-race-minigame {
  height: 460px;
  width: 560px;
  margin-top: -250px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);

  .btn {
    display: inline-block;
    background: #eee;
    font-size: 32px;
    margin: 0 40px;
    padding: 30px 45px;
    color: #bab4b4;
  }

  .btn.active {
    color: #222; 
  }

  .score {
    font-size: 40px;
  }

  .progress {
    height : 60%;
    margin-bottom: 20px;

    .runner-lane {

      width: 100%;
      height: 60px;

      .runner {
        position: absolute;
        left: 0;
        width: 50px;
        height: 45px;
        -webkit-transition: all 0.5s linear;

        .runner-body {
          width: 50px;
          height: 45px;
        }

        .left-foot, .right-foot {
          position: absolute;
          top: 45px;
          width: 10px;
          height: 10px;
          -webkit-transition: all 0.5s linear;
        }

        .left-foot {
          left: 10px;
        }

        .right-foot {
          left: 30px;
        }
      }
    }
  }
}

